<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="w3-bar w3-black w3-display-container" style="padding: 8px;">
    <a href="/" class="w3-bar-item w3-mobile">VODchat</a>
    <form method="GET" action="/videos/search?" id="search" style="margin: 0; width: 50%" class="w3-display-middle">
        <input type="text" class="w3-bar-item w3-mobile w3-input w3-border-bottom" placeholder="Search.." name="q" style="height: 38px;  width: 80%; text-color: #fff;">
        <button type="Submit" class="w3-bar-item w3-mobile w3-button" style="height: 38px; min-width: 14px; width: 20%" form="search"><i class="fa fa-search"></i></button>
    </form>
    {% if user.is_authenticated %}
        <div class="w3-right">
            <a href="/videos/upload" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-upload"></i><span>Upload</span></a>
            <a href="/videos/profile?username={{ user.username }}" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-user"></i><span>{{ user }}</span></a>
            <a href="/accounts/logout" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-sign-out"></i><span>Logout</span></a>
        </div>
    {% else %}
        <div class="w3-right">
            <a href="/accounts/login" class="w3-bar-item w3-button w3-mobile">Login</a>
            <a href="/accounts" class="w3-bar-item w3-button w3-mobile">Signup</a>
        </div>
    {% endif %}
</div>

{% block content %}{% endblock %}