<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-mobile">VODchat</a>
    {% if user.is_authenticated %}
            <a href="/videos/upload" class="w3-bar-item w3-button w3-mobile">Upload</a>
            <span class="w3-bar-item w3-mobile">{{ user }}</span>
            <a href="/accounts/logout" class="w3-bar-item w3-button w3-mobile">Logout</a>
    {% else %}
        <a href="/accounts" class="w3-bar-item w3-button w3-mobile">Signup</a>
        <a href="/accounts/login" class="w3-bar-item w3-button w3-mobile">Login</a>
    {% endif %}
</div>

{% block content %}{% endblock %}