{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>

<div class="to_center">
  <h1>Login</h1>
  {{ form.non_field_errors }}
  <form action="" method="post">
    {% csrf_token %}
    <p>
      <input type="text" name="username" placeholder="Username" />
      {{ form.username.errors }}
    </p>
    <p>
      <input type="password" name="password" placeholder="Password" />
      {{ form.password.errors }}
    </p>
    <p>
      <input type="submit" value="Login" class="w3-button w3-black" id="submit_button" />
    </p>
    <p>Don't have an account? <a href="{% url 'signup' %}">Create one.</a></p>
  </form>
</div>

{% endblock %}
