{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/videos.css' %}">
</head>

<div class="w3-row-padding">
{% for video in videos %}
    <div class="w3-col w3-panel l3 m4 s6">
            <div class="w3-container">
                <a href="watch?video_id={{ video.id }}">
                    <img height="25%" width="100%" src="{{ MEDIA_URL }}{{ video.thumbnailfile }}"></img>
                </a>
                <div class="w3-container">
                    <a href="watch?video_id={{ video.id }}">
                        <p><strong>{{ video.title }}</strong></p>
                    </a>
                    <a href="profile?username={{ video.creator }}">
                        <p>{{ video.creator }}</p>
                    </a>
                    <p>{{ video.date_created }}</p>
                </div>
            </div>
        </a>
    </div>
{% empty %}
    No Videos.
{% endfor %}
</div>

{% endblock %}
