{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/videos.css' %}">
</head>
<div class="w3-row">
    <div class="w3-col w3-panel l9 m8 s12">
            <h1 class="w3-padding">{{ username }}</h1>
        <div class="w3-row-padding">
            {% for video in videos %}
                <div class="w3-col w3-panel l3 m4 s6">
                        <div class="w3-container">
                            <a href="watch?video_id={{ video.id }}">
                                <img height="25%" width="100%" src="{{ MEDIA_URL }}{{ video.thumbnailfile }}"></img>
                            </a>
                            <div class="w3-container">
                                <a href="watch?video_id={{ video.id }}">
                                    <p><strong>{{ video.title }}</strong></p>
                                </a>
                                <p>{{ video.date_created }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col l3 m4 s12">
        <ul class="w3-ul w3-card" style="height: 100%; overflow: auto;">
        <h3 class="w3-padding">Watch History</h3>
        {% for watch in watches %}
        <li class="w3-bar" style="height: 10%; width: 100%">
            <a href="watch?video_id={{ watch.video.id }}">
                <div class="w3-bar-item">
                    <img width="100" height="50" src="{{ MEDIA_URL }}{{ watch.video.thumbnailfile }}"></img>
                </div>
                <div class="w3-bar-item">
                    <p>{{ watch.video.title }}</p>
                    <p>{{ watch.datetime}}</p>
                </div>
            </a>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}