{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/videos.css' %}">
</head>
<div class="w3-row">
    <div class="w3-col l3 m4 s12">
        <ul class="w3-ul w3-card" style="height: 100%; overflow: auto;">
        {% for video in videos %}
        <li id="video-{{ video.id }}" class="w3-bar" style="box-sizing: content-box;">
            <div class="w3-row">
                <div class="w3-col l4 m4 s4">
                    <a href="watch?video_id={{ video.id }}">
                        <img width="100" height="50" src="{{ MEDIA_URL }}{{ video.thumbnailfile }}"></img>
                    </a>
                </div>
                <div class="w3-col l4 m4 s4">
                    <p>{{ video.title }}</p>
                </div>
                <div class="w3-col l4 m4 s4 w3-right">
                    <button class="w3-button" onclick="editVideo('{{ video.id }}', '{{ video.name }}')"><i class="fa fa-edit" style="padding: 8px"></i></button>
                    <button class="w3-button" onclick="deleteVideo('{{ video.id}}', '{{ video.name }}')"><i class="fa fa-trash" style="padding: 8px"></i></button>
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>

    <div class="w3-col l4 m6 s12">

    </div>
</div>

<div id="confirmDeleteModal" class="w3-modal" style="display: none">
    <div class="w3-modal-content w3-card">
        <p>Are you sure?</p>
        <button class="w3-button" onclick="confirm()">Confirm</button>
        <button class="w3-button" onclick="cancel()">Cancel</button>
    </div>
</div>

<script>

    const state = {
        'modal': {
            'open': false,
            'videoId': null,
            'ref': null
        }
    };

    function deleteVideo(videoId, videoName) {
        state.modal.ref = openModal(videoId, videoName);
    }

    function editVideo(videoId, videoName) {

    }

    function openModal(videoId, videoName) {
        const confirmDeleteModal = document.getElementById("confirmDeleteModal");
        confirmDeleteModal.style.display = 'block';
        state.modal.open = true;
        state.modal.videoId = videoId;

        return confirmDeleteModal;
    }

    function closeModal() {
        state.modal.ref.style.display = 'none';
        state.modal.open = false;
        state.modal.ref = null;
        state.modal.videoId = null;
    }

    function confirm() {
        const videoListItem = document.getElementById("video-" + state.modal.videoId);
        fetch('/videos/delete?video_id=' + state.modal.videoId)
            .then(res => res.json())
            .then(json => {
                console.log(json);
                videoListItem.style.display = 'none';
            });
        closeModal();
    }

    function cancel() {
        closeModal();
    }
</script>

{% endblock %}