{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/videos.css' %}">
  <script src="../../static/js/watch.js"></script>
</head>

<div class="w3-row">
    <div class="w3-col w3-panel l8 m12 s12">
        <video id="the-video" width="100%" controls autoplay>
            <source src='{{ MEDIA_URL }}{{ video.videofile}}'>
            Video is unsupported in this browser.
        </video>
        <div class="w3-container w3-border-bottom">
            <h4 class="w3-right">{{ play_count }} views</h4>
            <h3><strong>{{ video.title }}</strong></h3>
            <p>{{ video.date_created }}</p>
        </div>
        <div class="w3-container w3-border-bottom">
            <p>{{ video.creator }}</p>
            <p>{{ video.description }}</p>
        </div>
    </div>
    <div class="w3-col w3-panel l4 m12 s12">
        <div id="commentFeedContainer">
            <comment-feed></comment-feed>
        </div>
    </div>
</div>

<script>
    const video = document.getElementById("the-video");
    const video_id = "{{ video.id }}";
    const username = "{{ user.get_username }}";

    {% verbatim %}

    const commentFeedTemplate = `
        <div class="w3-container">
            <div class="w3-container">
            <form name="newCommentForm" ref="form" action="comment" method="POST" v-on:submit="submit">
                {% endverbatim %}
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% verbatim %}
                <div>
                    <input class="w3-input" type="text" name="text" :placeholder="commentPlaceholder" autocomplete="off"/>
                    <input type="hidden" name="timestamp" :value="video.currentTime"/>
                    <input type="hidden" name="video_id" :value="video_id"/>
                    <button type="submit" class="w3-button w3-teal w3-right">Comment</button>
                </div>
                {% endverbatim %}
                {% endif %}
                {% verbatim %}
            </form>
            </div>
            <form name="voteForm" ref="voteForm" action="vote" method="POST" v-on:submit.prevent>
                {% endverbatim %}
                {% csrf_token %}
                {% verbatim %}
            </form>
            <div ref="comments" style="max-height: 75vh; overflow: auto;" @mouseover="setMouseOverComments(true)" @mouseleave="setMouseOverComments(false)">
                <div v-if="comments.length">
                    <div class="w3-container w3-border-bottom" v-for="comment in activeComments">
                        <p>{{ comment.creator }} - {{ toMMSS(comment.timestamp) }}</p>
                        <strong>{{ comment.text }}</strong>
                        <div class="w3-right">
                            <a class="fa fa-thumbs-up w3-hover-sepia" type="button" v-on:click="doUpvote(comment.id, video_id)"></a>
                            <span>{{ comment.upvotes - comment.downvotes }}</span>
                            <a class="fa fa-thumbs-down" type="button" v-on:click="doDownvote(comment.id, video_id)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>`

    initCommentFeed(commentFeedTemplate);

    {% endverbatim %}
</script>

{% endblock %}
