<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<h1>{{ video.title }}</h1>
<p>{{ video.creator }}</p>
<p>{{ video.date_created }}</p>
<p>{{ video.description }}</p>
<video id="the-video" width="50%" controls>
    <source src='{{ MEDIA_URL }}{{ video.videofile}}' type='video/mp4'>
    Video is unsupported in this browser.
</video>
<div id="app">
    <comment-feed></comment-feed>
</div>
<script>
    const video = document.getElementById("the-video");
    const video_id = "{{ video.id }}";
    const username = "{{ user.get_username }}";

    {% verbatim %}

    Vue.component('comment-feed', {
        
        data: function() {
            return {
                comments: [],
                votes: [],
                username: username,
                video: video,
                video_id: video_id,
                ws: new WebSocket('ws://' + window.location.host + '/ws/feed/' + video_id + '/'),
            };
        },
        
        template: `
            <div>
                <form name="newCommentForm" ref="form" action="comment" method="POST" v-on:submit="submit">
                    {% endverbatim %}
                    {% csrf_token %}
                    {% verbatim %}
                    <div>
                        <strong>{{ username }}:</strong> <textarea name="text"/>
                        <input type="hidden" name="timestamp" :value="video.currentTime"/>
                        <input type="hidden" name="video_id" :value="video_id"/>
                        <input type="submit" value="Post Comment"/>
                    </div>
                </form>
                <form name="voteForm" ref="voteForm" action="vote" method="POST" v-on:submit.prevent>
                    {% endverbatim %}
                    {% csrf_token %}
                    {% verbatim %}
                </form>
                <ul v-if="comments.length">
                    <li v-for="comment in comments">
                        <strong>{{ comment.creator }}:</strong> 
                        {{ comment.text }}
                        <input type="submit" value="UP" v-on:click="doUpvote(comment.id, video_id)"/>{{ comment.upvotes }}
                        <input type="submit" value="DOWN" v-on:click="doDownvote(comment.id, video_id)"/>{{ comment.downvotes }}
                    </li>
                </ul>
            </div>`,
            
        beforeMount: function() {
            let el = this;

            fetch("/videos/comment?video_id=" + el.video_id)
                .then(res => res.json())
                .then(json => json['comments'])
                .then(comments => {
                    console.log(comments);
                    el.comments = comments; 
            });

            el.ws.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const message = data['message'];
                const messageType = message['type'];
                switch(messageType) {
                    case "NEW_COMMENT":
                        el.newComment(message['comment']);
                        break;
                    case "UPVOTE":
                        el.upvote(message['comment_id']);
                        break;
                    case "DOWNVOTE":
                        el.downvote(message['comment_id']);
                        break;
                    default:
                        break;
                }
            };

            el.ws.onclose = function(e) {
                console.log("disconnected...");
                console.log("reconnecting");
            };
        },
        
        methods: {

            newComment: function(comment) {
                console.log("new comment!")
                let el = this;
                el.comments.push(comment);
                el.comments.sort((a, b) => b.timestamp - a.timestamp);
            },

            upvote: function(commentId) {
                console.log("upvote!");
                let el = this;
                el.comments.forEach(comment => {
                    if (comment.id === commentId) {
                        comment.upvotes++;
                    }
                });

            },

            downvote: function(commentId) {
                console.log("downvote!");
                let el = this;
                el.comments.forEach(comment => {
                    if (comment.id === commentId) {
                        comment.downvotes++;
                    }
                });
            },

            doUpvote: function(commentId, videoId) {
                this.submitVote(commentId, videoId, 1);
            },

            doDownvote: function(commentId, videoId) {
                this.submitVote(commentId, videoId, -1);
            },

            submitVote: function(commentId, videoId, vote) {
                let el = this;
                let form = el.$refs.voteForm;

                let formData = new FormData(form);
                formData.set("comment_id", commentId);
                formData.set("video_id", videoId);
                formData.set("vote", vote);
                
                fetch(form.action, {
                    method: form.method,
                    body: formData
                });
            },

            submit: function(e) {
                let el = this;
                e.preventDefault();
                let form = el.$refs.form;

                fetch(form.action, {
                    method: form.method,
                    body: new FormData(form)
                });
            },
        }
    });

    new Vue({ 
        el: "#app"
    });

    {% endverbatim %}
</script>
